.splash-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center
}
.splash-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.splash_page{
    font-size: 20vm;
}
