nav {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #625794;
    align-items: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;

}

.NavButtons{
    font-size: 10px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
}

ul button:hover {
    cursor: pointer;
}

.NavButtons{
    border: none;
    background-color: #fff;
    font-size: 11px;
    font-weight: bold;
    transition-duration: .3s;
    transition-property: box-shadow, color;
}
.NavButtons:hover{
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
    color: #5865f2;
}

.app-name {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;

}
