.ServerContainer{
    height: 100%;
    width: 70px;
    left: 0;
    top: 0;
    overflow: scroll;
    background-color: #202225;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    flex-shrink: 0;
}
.Bar{
    display: flex;
    flex-direction: column;
}
.emptySpace{
    height: 50px;
    width: 50px;
}
.serverButtons{
    margin-top: 5px;
    margin-bottom: 5px;
}

.ServerContainer ul {
    list-style: none;

}

.server-buttons {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    transition-duration: .15s;
    transition-timing-function: ease-out;
    transition-property: border-radius, background-color;
    font-size: larger;
    background-color: #2f3136;
}
.server-buttons:hover{
    border-radius: 20%;
    background-color: rgb(105, 72, 105);
}



.server-pop:hover:after {
    background: #202225;
    border-radius: 5px;
    color: white;
    content: attr(title);
    left: 7%;
    padding: 5px 8px;
    position: fixed;
    z-index: 98;
    width: auto;
}

.add-server-button {
    margin-top:5px;
    background-color: #2f3136;
    color: green;

}.seperator {
    width: 30px;
    border-bottom: solid 1px #2f3136;
    margin: 5px 10px 5px 10px
}

.home-button {
    margin-top: 10px;
    background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/320/microsoft/310/eye-in-speech-bubble_1f441-fe0f-200d-1f5e8-fe0f.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}
