.ServerContainer{
    height: 100%;
    width: 70px;
    left: 0;
    top: 0;
    overflow: scroll;
    background-color: #202225;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;

}
.Bar{
    display: flex;
    flex-direction: column;
}
.emptySpace{
    height: 50px;
    width: 50px;
}
.serverButtons{
    margin-top: 5px;
    margin-bottom: 5px;
}

.ServerContainer ul {
    list-style: none;

}

.server-buttons {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    transition-duration: .15s;
    transition-timing-function: ease-out;
    transition-property: border-radius, background-color;
}
.server-buttons:hover{
    border-radius: 20%;
    background-color: rgb(105, 72, 105);
}

.server-pop {
    display: inline;
    position: relative;
  }

  .server-pop:hover:after {
    background: #eee;

    border-radius: 5px;
    bottom: -34px;
    color: black;
    content: attr(name);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: auto;
    white-space:nowrap;
  }

  .server-pop:hover:before {
    border: solid;
    border-color: #ddd transparent;
    border-width: 0 6px 6px 6px;
    bottom: -4px;
    content: "";
    left: 40%;
    position: absolute;
    z-index: 99;
  }
