.ChannelContainer{
    height: 100%;
    width: 300px;
    left: 0;
    top: 0;
    overflow: scroll;
    background-color: #2f3136;
}::-webkit-scrollbar {
    width: 0;
}
.channel-title{
    color: gray;
    padding: 2px;
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.channel-list{
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    margin-left: 30px;
}

.ChannelLinks{
    text-decoration: none;
}
.channel{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    transition-duration: .2s;
    transition-property: background-color,color;
    flex-direction: column;
    align-items: flex-start;
    transition-duration: .2s;
    transition-property: background-color,color;
}
.channel:hover .channel-title{
    color: honeydew;
}
.channel:hover{
    background-color: #606163;
}
.mod-channel-button-hidden{
    border: none;
    border-radius: 5px;
}
.add-channel{
    border: none;
    border-radius: 5px;
}
.mod-channel-hidden, .mod-channel-button{
    visibility: hidden;
}
.mod-channel-visible{
    visibility: visible;
}
.channel:hover .mod-channel-button {
    visibility: visible;
}
.edit-channel-button, .delete-channel-button, .mod-channel-button, .mod-channel-button-persist, .add-channel{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.mod-channel-button, .mod-channel-button-persist, .add-channel{
    color: gray;
}
.delete-channel-button{
    color: red;
}
.edit-channel-button, .add-channel:hover, .mod-channel-button:hover, .mod-channel-button-persist:hover{
    color: white;
}
.mod-channel-hidden, .mod-channel-visible{
    display: flex;
}
.channel-wrap, .channel-modsANDinfo{
    display: flex;
    justify-content: space-between;
}
.mod-channel-button{
    justify-self: flex-end;
}
.channels{
    margin: 10px 5px 5px 5px;
    color: gray;
}
.add-channel{
    margin-right: 10px;
    font-size: 30px;
}
