.MessageContainer{
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: scroll;
  background-color: #36393f;
}::-webkit-scrollbar {
  width: 0;

}


.MessagesContainer{
  margin-top: 15px;
  display: flex;
  max-height: 98%;
  height: 98%;
  overflow: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  flex-direction: column;
  justify-content: flex-end;
  /* width: 60vw; */
  padding: 0;
}
.MessagesContainer > ul > li:last-child {
  scroll-snap-align: end;
}

.messageOuterWrapper {
  height: 90%;
  padding: 0;
}

.message-form {
  position: absolute;
  width: 80%;
  /* bottom: 8%;
  left: 50%;
  right: 0; */
  height: 50px;
  margin-bottom: 20px;
  width: 80%;
  margin: -40px 15px 0 15px;

}

.MessageUl{
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
  overflow-wrap: break-word;
}

/* .message-form {
background-color: #40444b;
} */

.messageWrapper {
  background-color: #36393f;
  width: 75vw;
}

.messageInput {
  background-color: #61656c;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 50vh;
  border-radius: 4.5px;
  color: #ffffff;
  height: 30px;
  width: 90%;
  padding: 4px 8px 4px 8px;
  border: none;

}


.messageContentHolder{
  padding: 0 3px 0 3px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-left: 17px;
  margin-bottom: 15px;
}
.messageInput:hover{
  background-color: #70757d;
}

.message-button {
  display: none;
}

.messageContent {
  margin-right: 5px;
  color: rgb(193, 193, 193);
  font: 16px  "Fira Sans", sans-serif;
  display: inline;
  word-wrap: break-word;
  /* width: 400px; */
  width: 70%;
}
.messageUser {
  margin-right: 5px;
  margin-top: 5px;
  color: white;
  font-weight: bold;

}

.userMessage{
  color: #625794;
}

.fa-hashtag{
  padding-right: 5px;
}
.ChannelName{
  margin: 0;
  height: 38px;
  background-color: #3a3c41;
  border-bottom: #2b2a2a4b 1px solid;
  box-shadow: 0px 0.5px 5px 2px #2c2c2c;
  display: flex;
  align-items: center;


}
.ChannelName h1{
  margin: 0;
}
.MessageAndTitleContainer{
  width: 100%;
}
.MessageAndButton{
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}
.reactionsContainer{
  width: fit-content;
  height: 28px;
  display: flex;
  gap: 5px;
}
.ReactionsButton{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: gray;
  font-size: 20px;
}
.ReactionsButton:hover:after{
  background: #202225;
  border-radius: 8px;
  color: white;
  content: 'React to Message';
  font-size: 12px;
  padding: 5px 8px;
  position: fixed;
  z-index: 98;
  width: 100px;
  transform: translate(-60px, -23px);
}
.justNameAndButton{
  display: flex;
  column-gap: 20px;
  margin-top: 5px;
}
.Reactions{
  display: flex;
}
.dontDisplay{
  display: none;
}
.hidden-reactions{
  visibility: hidden;
}
.show-reaction-list{
  visibility: visible;
}

.channel-name {
  font-size: 20px;
  color:gray;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8px;
}

.reaction-individual{
  display: flex;
  background-color: #262729;
  justify-content: space-around;
  padding: 2px 4px;
  width: fit-content;
  border-radius: 13px;
  align-items: center;
  gap: 5px;
}
.reaction-individual:hover{
 cursor: pointer;
}

.emoji-display{
  padding-bottom: 2px;
}

.reactions-counter{
  color: rgb(181, 181, 181);
  font: 13px  "Fira Sans", sans-serif;
}

.ReactionChoice > span {
  padding: 5px;
  border-radius: 10px;
}

.ReactionChoice span:hover {
  cursor: pointer;
  background-color: gray;
}
