.MessageContainer{
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: scroll;
  background-color: #36393f;
}::-webkit-scrollbar {
  width: 0;

}


.MessagesContainer{
  margin-top: 15px;
  display: flex;
  max-height: 98%;
  height: 98%;
  overflow: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  flex-direction: column;
  justify-content: flex-end;
  /* width: 60vw; */
  padding: 0;
}
.MessagesContainer > ul > li:last-child {
  scroll-snap-align: end;
}

.messageOuterWrapper {
  height: 90%;
  padding: 0;
}

.message-form {
  /* position: absolute; */
  /* bottom: 8%;
  left: 50%;
  right: 0; */
  height: 50px;
  margin-bottom: 20px;
  width: 100%;
  margin: 0 15px 0 15px;

}

.MessageUl{
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 860px;
  padding: 0;

}

/* .message-form {
background-color: #40444b;
} */

.messageWrapper {
  background-color: #36393f;
  width: 75vw;
}

.messageInput {
  background-color: #61656c;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 50vh;
  border-radius: 4.5px;
  color: #ffffff;
  height: 30px;
  width: 90%;
  padding: 4px 8px 4px 8px;
  border: none;
}


.messageContentHolder{
  padding: 0 3px 0 3px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-left: 17px;
  margin-bottom: 15px;
}
.messageInput:hover{
  background-color: #70757d;
}

.message-button {
  display: none;
}

.messageUser {
  margin-right: 5px;
  margin-top: 5px;
  color: white;
  font-weight: bold;
  font: 16px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;

}
.messageContent {
  margin-right: 5px;
  color: rgb(193, 193, 193);
  font: 16px Whitney, "Helvitica Neue";

}

.userMessage{
  color: rgb(230, 171, 230);
}

.fa-hashtag{
  padding-right: 5px;
}
